<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CouchbaseModelViews" version="1.0.0-alpha" targetFramework="net40" />
  <package id="CouchbaseNetClient" version="1.2.0" targetFramework="net40" />
  <package id="Hammock" version="1.2.9" targetFramework="net40" />
  <package id="inflector_extension" version="0.0.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
</packages>